/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  /* Encabezado */
  header {
    position: relative;
    height: 500px;
    background-color: #08f;
    background-image: url('file:///C:/Users/the_negro/Downloads/FmEEFpyX0B0F2j9.jpg');
    background-size: cover;
    background-position: center center;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  nav a:hover {
    color: #ddd;
  }
  
  .textos-header {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding: 20px;
  }
  
  .textos-header h1 {
    font-size: 48px;
    margin: 0;
  }
  
  .textos-header h2 {
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
  }
  
  /* Ondas */
  .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
  
  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 147px;
    transform: scaleY(-1);
  }
  
  .wave path {
    fill: #08f;
  }
  
  /* Contenido principal */
  main {
    padding: 50px;
  }
  
  /* Sección "Quien es Feid" */
  .quien {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .quien h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .imagen-about-us {
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
  }
  
  .contenedor-inicios {
    max-width: 600px;
    text-align: center;
  }
  
  .contenedor-inicios h3 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .contenedor-inicios span {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .gallery {
    padding: 50px 0;
    text-align: center;
  }
  
  .gallery h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .gallery-container img {
    width: 100%;
    height: 200px; /* or any desired height */
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(31, 30, 30, 0.3);
  }
  
  
    /* Estilos para la sección footer */
    footer {
        background-color: #08df08;
        color: white;
        padding: 30px 0;
      }
      
      .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .column {
        width: 23%;
      }
      
      .column h3 {
        font-size: 18px;
        margin-bottom: 10px;
      }
      
      ul,
      ol {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      
      ul li,
      ol li {
        margin-bottom: 10px;
      }
      
      .social-media li {
        margin-bottom: 5px;
      }
      
      .social-media a {
        color: white;
        text-decoration: none;
      }
      
      .social-media i {
        margin-right: 10px;
      }
      
  
   